
# SpreadSheet ID
default_spreadsheet_id: 'spreadsheet_id'

# Sheet Name
default_sheet_name: 'sheet_name'

# Set "credentials.json" file path of the OAuth client to be used. 
# IT'S IMPORTANT NOT TO HOST THE CREDENTIALS WITHIN THE PROJECT.
# Don't include .json extension
credentials_path: '/another/credentials-path/credentials.json'


# The recommended scope to be use is 'https://www.googleapis.com/auth/spreadsheets'
scopes:
    - 'https://www.googleapis.com/auth/spreadsheets'
    
